body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  background-color: #2C3137;
  max-width: 100%;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #25282F;
}

h1, h2, h3, h4, a {
  color: #FFFFFF;
}

p {
  color: hsla(0, 0%, 100%, .6);
  line-height: 1.5;
}

h1 {
  font-size: 64px;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  font-weight: 500;
}

a {
  text-decoration: none;
}

p {
  font-size: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.header__nav__main:hover {
  opacity: 0.7;
}

.btn:hover {
  opacity: 0.7;
}

/* Allgemine Flex-Anweisungen*/
.center {
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.wrap {
  wrap: wrap;
}

.jc-c {
  jjustify-content: flex-end;
}

.jc-spbtw {
  justify-content: space-between;
}

.jc-spa {
  justify-content: space-around;
}

.ai-c {
  align-items: center;
}

.header {
  background-color: #25282F;
  height: 56px;
  padding: 8px 16px;
  margin-top: 0;
}

.header__left {
  width: 600px;
}

.header__logo {
  width: 32px;
}

.header__nav {
  list-style-type: none;
  width: 491.5px;
  padding-left: 0px;
}

.header__nav__main {
  display: inline-block;
  padding-bottom: 16px;
  margin-top: 16px;
  color: white;
}

.header__nav__main_arrow {
  width: 10px;
}

.header__nav__main__sub-list {
  list-style-type: none;
  padding-left: 0;
}

.header__nav__main__sub-list a:hover {
  color: blue;
}

.header__nav__main__sub-list li {
  display: block;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.header__nav__main__sub-list__element--emph {
  color: black;
  font-weight: bold;
}

.header__nav__main__sub-list__element--reg {
  color: grey;
}

.header__nav__main__sub-list__heading {
  display: block;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace !important;
  font-size: 14px;
  color: grey;
  padding-top: 8px;
  padding-bottom: 8px;
}

.header__nav__main__sub-list lh {
  display: block;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.header__nav__main__sub a:hover {}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 254px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 24px;
  z-index: 1;
}

.dropdown:hover .dropdown__content {
  display: block;
  border-radius: 3px;
  margin-left: -15px;
}

.search {
  width: 240px;
  height: 36px;
  background-color: #46484E;
  border-radius: 4px;
  margin-right: 16px;
}

.search__field {
  width: 197px;
  height: 20px;
  padding: 8px;
  background-color: #46484E;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  color: white;
}

.search__key {
  width: 20px;
  height: 19px;
  color: white;
  margin-right: 8px;
}

.btn {
  height: 34px;
  padding: 4px 8px;
  background-color: #25282F;
  color: white;
  font-size: 16px;
}

.btn--SignIn {
  border: none;
  margin-right: 16px;
}

.btn--SignUp {
  border-radius: 3px;
}

.main {
  width: 1248px;
  background-color: #2C3137;
  height: 1500px;
  padding: 8px 16px;
  margin-top: 60px;
}

.sec-one {
  padding-top: 90px;
}

.sec-one__text {
  width: 505px;
  padding: 24px;
}

.dummy-reg {
  width: 426px;
  height: 478px;
  padding: 24px;
  background-color: white;
  border-radius: 5px;
}

.dummy-reg__pic {
  margin: auto;
}
}